html {
  margin: 0;
}

body {
  height: 80vh;
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
  background-color: purple;
  color: white;
  font-size: 50px;
  font-family: 'Bungee', cursive;
}

article {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

section {
  display: flex;
  flex-direction: column;
  height: auto;
}

.form {
  align-items: flex-start;
  justify-content: flex-start;
}

.form-field {
  margin: 20px 0px;
  height: 50px;
  width: 200px;
  font-size: 20px;
  border-radius: 25px;
  border: none;
  color: white;
  background-color: purple;
}

.form-field::placeholder {
  color: #d3d3d3;
}

button:hover,
select:hover {
  cursor: pointer;
  background-color: blue;
}

input {
  padding-left: 10px;
}

#dropdown-instructions {
  background-color: white;
  color: purple;
}

div {
  border: 1px solid black;
}

.item-list,
.sort-items-button {
  display: none;
}

.garage-door {
  background-image: url('../images/garage-closed.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  width: 800px;
  height: 500px;
}

.item-list {
  background-image: url('../images/garage-open.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  width: 800px;
  height: 500px;
}
