html {
  margin: 0;
}

body {
  height: 80vh;
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

h1 {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
  background-color: purple;
  color: white;
  font-size: 50px;
  font-family: 'Bungee', cursive;
}

article {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

section {
  display: flex;
  flex-direction: column;
  height: auto;
}

.form {
  align-items: flex-start;
  justify-content: flex-start;
}

.form-field {
  margin: 20px 0px;
  height: 50px;
  width: 200px;
  font-size: 20px;
  border-radius: 25px;
  border: none;
  color: white;
  background-color: purple;
}

.form-field::placeholder {
  color: #d3d3d3;
}

input {
  padding-left: 10px;
}

#dropdown-instructions {
  background-color: white;
  color: purple;
}

.item-list,
.sort-items-button {
  display: none;
}

.garage-door {
  background-image: url('../images/garage-closed.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  width: 800px;
  height: 500px;
  border: 5px solid purple;
  border-radius: 25px;
}

.item-list {
  background-image: url('../images/garage-open.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  width: 800px;
  height: 500px;
  border: 5px solid purple;
  border-radius: 25px;
  position: relative;
}

.view-items button {
  width: 800px;
  height: 40px;
  font-size: 20px;
  background-color: purple;
  color: white;
  border: none;
  margin: 10px 0px;
  border-radius: 25px;
}

button:hover,
select:hover {
  cursor: pointer;
  background-color: blue;
}

.item-names {
  margin: 20px;
  border: none;
  border-radius: 25px;
  background-color: #D8BFD8;
  opacity: 0.9;
  color: purple;
  padding: 20px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  overflow: scroll;
  height: 250px;
}

.item-name {
  display: inline-block;
  opacity: 1;
  font-weight: bold;
}

.item-name:hover {
  cursor: pointer;
  color: blue;
}

h3 {
  color: purple;
  font-size: 30px;
  display: inline-block;
  margin-left: 20px;
}

.counts {
  display: flex;
  position: absolute;
  width: 800px;
  bottom: 0px;
  left: 0px;
  background-color: purple;
  font-size: 20px;
  justify-content: space-between;
  color: white;
}

.counts p {
  display: inline-block;
  margin: 20px;
}

.expanded-item {
  margin: 10px;
  padding: 20px;
  background-color: purple;
  color: white;
  overflow: scroll;
  height: 150px;
  width: 250px;
  border: none;
  border-radius: 25px;
}
